{
  "name": "@julienguillot/gradual-${node_os}-${node_arch}",
  "version": "${node_version}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/guillotjulien/gradual.git"
  }
}