{
  "name": "@julienguillot/gradual-${node_os}-${node_arch}",
  "version": "${node_version}",
  "license": "MIT",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "author": "Julien Guillot <julienguillot@protonmail.com>",
  "homepage": "https://github.com/guillotjulien/gradual",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/guillotjulien/gradual.git"
  },
  "bugs": {
    "url": "https://github.com/guillotjulien/gradual/issues"
  }
}